<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/script.js" defer></script>
    <title>Recipies</title>
  </head>
  <body>
    <h2>Ingredients:</h2>
    <form id="findRecipes">
      <% for (let i = 0; i < ingredients.length; i++) { %>
        <input type="checkbox" value="<%= ingredients[i].name %>" <% if (ingredients[i].inStock) { %>checked<% } %> />
        <%= ingredients[i].name %>
        <br>
      <% } %>
      <input type="text">
      <input type="submit" value="Szukaj">
    </form>

    <% if (typeof user === 'undefined') { %>
      <p>Hello</p>
    <% } %>
   
  </body>
</html>