<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipies</title>
  </head>
  <body>
    <h2>Ingredients:</h2>
    <form method="POST" action="/">
      <% for (let i = 0; i < ingredients.length; i++) { %>
        <input type="checkbox" id="<%= ingredients[i].name %>" name="inStock[]" value="<%= ingredients[i].name %>" <% if (ingredients[i].inStock) { %>checked<% } %> />
        <%= ingredients[i].name %>
        <br>
      <% } %>
      <input type="text">
      <input type="submit" value="Szukaj">
    </form>

  </body>
</html>
