<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/script.js" defer></script>
    <title>Recipies</title>
  </head>
  <body>
    <h2>Ingredients:</h2>
    <% if (errors.length) {
      errors.forEach((err) => console.error(err));
    } %>
    <% if (typeof ingredients === "undefined") { %>
      <p>Something went wrong while getting the ingredient list.</p>
    <% } else if (!ingredients.length) { %>
      <p>Ingredient list empty. Add some ingredients!</p>
    <% } else { %>
        <form id="findRecipesForm">
          <% for (let i = 0; i < ingredients.length; i++) { %>
            <input type="checkbox" value="<%= ingredients[i].name %>" <%= ingredients[i].inStock ? "checked" : "" %> />
            <%= ingredients[i].name %>
            <br>
          <% } %>
          <input type="submit" value="Szukaj">
        </form>
    <% } %>
    <h2>Recipes:</h2>
    <ul id="recipesList"></ul>
   
  </body>
</html>